{% extends "base.html" %}
{% block title %}О компании — Рафа{% endblock %}
{% block description %}О компании Рафа. Производство упаковочных материалов.{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs"><a href="/">Главная</a><span class="sep">•</span><span>О компании</span></div>
{% endblock %}
{% block content %}
<div class="container">
<h1 class="page-title">О компании</h1>
<div class="info-text">
  <p>Наша компания была создана в 2003 году.</p>
  <p>Основное направление деятельности предприятия — производство адгезивных (клейких) лент промышленного, бытового и офисного назначения. Наша компания выпускает уникальную по своим свойствам клейкую ленту, аналогов которому в настоящее время на Российском рынке нет.</p>
  <p>На сегодняшний день компания предлагает расширенный ассортимент продукции:</p>
  <ul>
    <li>Лента упаковочная полипропиленовая (стрепп-лента)</li>
    <li>Лента клейкая с фирменным логотипом компании, в т.ч. стандартного типа («Акция», «Подарок», «Упаковано» и т.д.)</li>
    <li>Изолента ПВХ</li>
    <li>Стрейч-пленка</li>
    <li>Картонная гильза, шпуля картонная</li>
  </ul>
  <p>Компания предлагает перечень сопутствующих материалов, таких как: диспенсер для клейких лент, уголки, пряжки, натяжители для стрепп-лент и т.д.</p>
  <p>С 2008 года наша компания начала производство полипропиленовой упаковочной ленты для автоматической упаковки (5мм, 9мм, 12мм, 15мм, 19мм). Данная стрепп-лента производится на высокоскоростном оборудовании, произведенном в Италии, обладает уникальными характеристиками, и не имеет аналогов на российском рынке полипропиленовых лент.</p>
  <p>Продукция, производимая нашей компанией отвечает самым высоким мировым стандартам качества, что подтверждено сертификатами соответствия, санитарно-эпидемиологическими заключениями, паспортами качества.</p>
  <p>На нашем сайте вы найдете необходимую информацию по каждому виду продукции. Здесь же вы сможете разместить заказ, заполнив специальные формы.</p>
  <p>Если у вас возникнут дополнительные вопросы и предложения, свяжитесь с нами удобным для вас способом.</p>
</div>
</div>
{% endblock %}